<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:insert="~{common/common::common}"/>
<head>
    <meta charset="UTF-8">
    <title>访问步长</title>
</head>
<body>
    <div th:replace="~{common/leftnavbar::leftnav}"></div>
    <div class="layui-body" id="container" style="weight:700px;height:700px;padding-left:68px;" >
        <!--<div style="weight:700px;height:700px;" id="container"></div>-->
    </div>
    <div style="padding-top:660px;padding-left:215px;">
        <p style="text-align: center;font-size: 120%" >
            访问步长在1_3步的用户仅仅占10%左右，说明主页没有大多数用户需要的商品，或者是用户未在主页找到商品
            需要优化主页以及推荐引擎；</p>
        <p style="text-align: center;font-size: 120%" >访问步长越多，说明用户未找到合适的商品、或者是下单支付的步骤出现了一些
            错误，需要及时检查更新系统。</p>
    </div>
</body>
<script type="text/javascript" th:inline="javascript">
    function createSr(name, type, data) {
        var o = new Object();
        o.name = name;
        o.type = type;
        o.data = data;
        return o;
    }

    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    option = null;
    var data = [], datalg = [], datasr = [], dataX = ["1_3", "4_6", "7_9", "10_30", "30_60", "60"];
    axios.post('/at')
        .then(function (res) {
            data = Object.values(res.data);
            for (var i=0;i<data.length;i++){
                datalg.push("taskId-"+data[i].taskid);
                var temp = [];
                temp.push(data[i].step_length_1_3_ratio);
                temp.push(data[i].step_length_4_6_ratio);
                temp.push(data[i].step_length_7_9_ratio);
                temp.push(data[i].step_length_10_30_ratio);
                temp.push(data[i].step_length_30_60_ratio);
                temp.push(data[i].step_length_60_ratio);
                datasr.push(createSr("taskId-"+data[i].taskid, "line", temp));
            }
            myChart.setOption(option, true);
        })
        .catch(function (error) {
            console.log(error);
        });
    option = {
        title: {
            text: '访问步长'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: datalg
        },
        grid: {
            top: "10%",
            left: '3%',
            right: '8%',
            bottom: '10%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            name: "访问网页的个数",
            type: 'category',
            boundaryGap: false,
            data: dataX
        },
        yAxis: {
            name: "百分比",
            type: 'value',
            axisLabel: {
                formatter: function (v) {
                    return v.toFixed(1);
                }
            }
        },
        series: datasr
    };

    function accessfunc() {
        if (document.getElementById("access").getAttribute("class")=="layui-nav-item layui-nav-itemed"){
            document.getElementById("access").setAttribute("class", "layui-nav-item");
        } else {
            document.getElementById("access").setAttribute("class", "layui-nav-item layui-nav-itemed");
        }
    }
    function categoryfunc() {
        if (document.getElementById("category").getAttribute("class")=="layui-nav-item layui-nav-itemed"){
            document.getElementById("category").setAttribute("class", "layui-nav-item");
        } else {
            document.getElementById("category").setAttribute("class", "layui-nav-item layui-nav-itemed");
        }
    }
    document.getElementById("access").setAttribute("class", "layui-nav-item layui-nav-itemed");
</script>
</html>
