<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:insert="~{common/common::common}"/>
<head>
    <meta charset="UTF-8">
    <title>页面分割转化率</title>
</head>
<body>
    <div th:replace="~{common/leftnavbar::leftnav}"></div>
    <div class="layui-body" id="container" style="padding-left:68px;">
        <!--<div style="weight:700px;height:700px;" id="container"></div>-->
    </div>
    <div style="padding-top:660px;padding-left:215px;">
        <p style="text-align: center;font-size: 120%">
            页面跳转率越接近100%，说明系统设计越合理，能够满足用户购买的需求、或者是广告投放非常的精确
        </p>
        <p style="text-align: center;font-size: 120%">
            如果其中某个跳转率很低，那就是页面设计很不合理，或者是系统出现跳转异常，需要及时更新系统。
        </p>
    </div>
</body>

<script type="text/javascript" th:inline="javascript">
    function createSr(name, type, data) {
        var o = new Object();
        o.name = name;
        o.type = type;
        o.data = data;
        return o;
    }

    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    option = null;
    var data = [], datalg = [], datasr = [], dataX = [];
    axios.post('/pscr_data')
        .then(function (res) {
            data = Object.values(res.data);
            for (var q=0;q<data[0].position.length;q++){
                dataX.push(data[0].position[q].x);
            }
            for (var i=0;i<data.length;i++){
                datalg.push("taskId-"+data[i].taskId);
                var temp = [];
                for (var j=0;j<data[i].position.length;j++){
                    temp.push(data[i].position[j].y);
                }
                datasr.push(createSr("taskId-"+data[i].taskId, "line", temp));
            }
            myChart.setOption(option, true);
        })
        .catch(function (error) {
            console.log(error);
        });
    option = {
        title: {
            text: '页面分割率'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: datalg
        },
        grid: {
            top: "12%",
            left: '3%',
            right: '10%',
            bottom: '18%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            name: "页面x跳转到页面y",
            type: 'category',
            boundaryGap: false,
            data: dataX
        },
        yAxis: {
            name: "百分比",
            type: 'value',
            axisLabel: {
                formatter: function (v) {
                    return v.toFixed(1);
                }
            }
        },
        series: datasr
    };


    function accessfunc() {
        if (document.getElementById("access").getAttribute("class")=="layui-nav-item layui-nav-itemed"){
            document.getElementById("access").setAttribute("class", "layui-nav-item");
        } else {
            document.getElementById("access").setAttribute("class", "layui-nav-item layui-nav-itemed");
        }
    }
    function categoryfunc() {
        if (document.getElementById("category").getAttribute("class")=="layui-nav-item layui-nav-itemed"){
            document.getElementById("category").setAttribute("class", "layui-nav-item");
        } else {
            document.getElementById("category").setAttribute("class", "layui-nav-item layui-nav-itemed");
        }
    }
</script>
</html>